
<body>
    {% extends 'base.html' %}
    {% block content %}
    
    <div class="row mt-4" >

        <div class="col-md-12" id="bc">
           
            <h2>What is StockInsights?</h2>
            <p>Welcome to StockInsights. Your one stop shop for all things stock related. 
                Our aim is to keep you up to date with the latest news and relevant information 
                of your searched company to help you make the best educated financial decision.</p>
            <h2>How To Use?</h2>
            <p>At first glance of our website you are greeted with a word cloud which contains the most searched words 
                of the past seven days in relation to the Australian markets. This is designed to give you ideas about 
                which company or industry you would like to research.
                <br>
                <br>
                Once you have decided which company to search, simply enter it into the . 
                We then return the price of the stock and it's increase or decrease in price since the previous days closing price, 
                the price history which can be viewed from three months to five years as well as a detailed description of the company. Below the description is a view of the assets and liabilities for the past four years which change in size in accordance to the increase or decrease of the value of the business.
                <br>
                <br>
                If you would like to keep your eye on this stock, simply click the . 
                This saves the searched stock in your “My List” menu. It is saved there for future reference, 
                containing the price of when it was added, as well as the date you searched.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12" id="bc">
            <div>
                <h2>Who Are We?</h2>
                <p>StockInsights was created by three budding data analysts 
                    with a background in finance and a keen interest in the movements of the markets.</p>
            </div>
            
            <div id="bc1">
                Lin is a multi-lingual analyst with a great thirst for financial and analytical knowledge. 
                When he isn't buried deep in code, he explores the other side of his mind by creating culinary oriental delights.

                <div>LinkedIn:<a href="www.linkedin.com/in/linhuanjhe92">www.linkedin.com/in/linhuanjhe92</a></div>
                <div>Github:<a href="https://github.com/LynHJ">https://github.com/LynHJ</a></div>
                <div>Email:lin.linhuanjhe92@gmail.com</div>
            </div>
                
            <div id="bc1">
                Rajiv's strong IT background, paired with his love of cryptocurrency has moulded him into an analyst
                with a strong eye for detail.
                <div>LinkedIn:<a href="https://www.linkedin.com/in/rajiv-wickramaratne-47b852124">https://www.linkedin.com/in/rajiv-wickramaratne-47b852124</a></div>
                <div>Github:<a href="https://github.com/rajivwick">https://github.com/rajivwick</a></div>
                <div>Email:rajiv_wick@iinet.net.au</div>
            </div>
            
            <div id="bc1">
                Nick has spent the past ten years in international education, where he was able to use his love of 
                teaching and exploring cultures into a profession. It is his love of problem solving and numbers 
                has led him down the data analytics path.
                <div>LinkedIn:<a href='https://www.linkedin.com/in/nick-carr-a35644172/'>https://www.linkedin.com/in/nick-carr-a35644172/</a></div>
                <div>Github:<a href='https://github.com/nickjaycarr88'>https://github.com/nickjaycarr88</a></div>
                <div>Email:nickjaycarr88@gmail.com</div>
            </div>
            
            
            
            
            
            
            
            
        </div>
    </div>

    {% endblock %}
</body>

