
<body>
    {% extends 'base.html' %}

    {% block content %}
        <div class="row" id="bc">
            {% for stock in stocks %} <!-- for loop method to call all the data of each stock from MongoDB-->
            <div id= flex class="col-md-3 mt-4 ";>
                <div class="stockdetails">
                        <p>StockCode : {{stock.StockCode}}</p>
                        <p>Price : ${{ stock.Price}}</p> 
                        <p>52 Weeks High: ${{stock.Weeks52High}}</p>
                        <p>52 Weeks Low : ${{stock.Weeks52Low}}</p>
                        <p>Last Searched Date : {{stock.LastSearchedDate}}</p>
                        <!-- Create a form to allow user to delete the record. The id is created automatically when above for-loop runs
                            and the event of 'post' will triger '/delete'function in app.py-->
                        <form style= display:inline method="POST" action="{{ url_for('delete', id=stock['_id']) }}" >
                            <input type="submit" value="Delete"
                                   onclick="return confirm('Are you sure you want to delete this entry?')"></form>
                        <!-- Create a form to allow user to research the record. The stock name is sourced above for-loop
                            and the event of 'post' will triger '/search'function in app.py and parse with 'checkstock'-->           
                        <form style=display:inline method="POST" action="{{ url_for('search', checkstock=stock.StockCode) }}">
                            <input type="submit" value="Have A Look" > 
                        </form>
                    </div>
                </div>       
            {% endfor %}
        </div>
    {% endblock %}
</body>


