.stockdetails{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 1px;
  margin-left: 1px;
  padding: 15px;
  box-shadow: 10px 10px 5px rgb(69, 65, 65); 
  background-color: rgb(129, 192, 219);
}

.jumboText {
  font-weight: bold;
  color: navy;
  font-size: 70;
  }

#backgroundColor{
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  color: #0A0A0A;

}